/*  Generales*/
*{
    font-family: arial;
}
body{
    background: #f1f1f1;
}
.clear{
    clear: both;
}

/*  Galeria*/
.galeria{
    border-radius: 5px;
    padding: 40px;
    width: 630px;
    margin: 0 auto;
    margin-top: 60px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contenedor {
    margin-bottom: 10px;
}
.thumbnail img{
    width: 200px;
    height: 200px;
    cursor:pointer;
    border-radius: 2px;
}
.full{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}
.active .full {
    opacity: 1;
    pointer-events: auto;
}

.full__content {
    width: auto;
    display: flex;
    flex-direction: column;
}
.full img{
    max-width: 600px;
    height: auto;
}
img.imagen-full{
    border: solid 6px #fff;
    border-radius: 5px;
    /*box-shadow: 4px 4px 4px silver;*/
}
.boton-close{
    height: 30px;
    width: 30px;
    text-align: center;
    cursor:pointer;
    margin-left: auto;
    margin-bottom: 5px;
    order: -1;
}
.boton-close img{
    width: 30px;
    height: 30px;
}

/*  Textos*/
h1,p{
    text-align: center;
    margin: 0;
    padding: 0;
}
h1{
    margin-top: 60px;
    font-size: 40px;
    color: gray;
}
p{
    margin-top: 30px;
    font-size: 14px;
    color: silver;
}